{
  "$schema": "https://opencode.ai/config.json",
  "model": "opencode/mimo-v2.5-free",
  "plugin": [
    "oh-my-opencode-slim",
    "@cortexkit/opencode-magic-context@latest"
  ],
  "agent": {
    "explore": {
      "disable": true
    },
    "general": {
      "disable": true
    }
  },
  "lsp": true,"compaction": {"auto":false,"prune":false}
}
