// zellij config
keybinds {
    normal {
        bind "Ctrl o" { SwitchToMode "Normal"; }
    }
    locked {
        bind "Ctrl g" { SwitchToMode "Normal"; }
    }
}

// 插件配置
plugins {
    zellij-user-plugins {
        path "https://github.com/zellij-plugins/zellij-user-plugins"
        watch_dir true
    }
}

// 主题
theme "dracula"
